<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="info"
  internalLogFile="${basedir}/log/nlog-internal.txt">
  <targets>
    <target xsi:type="File" name="Ctrl"
      fileName="${basedir}\log\${shortdate}_Ctrl.txt"
      layout="${longdate}|${uppercase:${level}}|${logger}:${newline}    ${message}"
      archiveFileName="${basedir}/log/archive/${shortdate}_Ctrl.txt"
      archiveEvery="Day"
      archiveAboveSize="5120000"
      maxArchiveFiles="7"/>
    <target xsi:type="File" name="Filter"
      fileName="${basedir}\log\${shortdate}_Filter.txt"
      layout="${longdate}|${uppercase:${level}}|${logger}:${newline}    ${message}"
      archiveFileName="${basedir}/log/archive/${shortdate}_Filter.txt"
      archiveEvery="Day"
      archiveAboveSize="5120000"
      maxArchiveFiles="7"/>
  </targets>
  <rules>
    <logger name="DecBackEnd.Controllers.*" minlevel="Error" writeTo="Ctrl" />
    <!-- 如要除錯，可以將以下想要看的API訊息的Level設為Debug，重啟Server即可。 -->
    <!--<logger name="DecBackEnd.Controllers.HeartbeatController" minlevel="Debug" writeTo="Ctrl" />-->
    <!--<logger name="DecBackEnd.Controllers.PerformanceController" minlevel="Debug" writeTo="Ctrl" />-->
    <logger name="DecBackEnd.Filters.*" minlevel="Error" writeTo="Filter" />
    <logger name="DecBackEnd.InputFormatters.*" minlevel="Error" writeTo="Filter" />
  </rules>
</nlog>